<a href="https://colab.research.google.com/github/AI-comic/profile/blob/main/set_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Set 메소드(method)  

| |메소드|기능|
|:--|:---:|:--:|
|1|add|하나의 아이템/원소를 추가|
|2|update|다수의 아이템/원소를 추가(단일 리터럴(literal)은 추가 안됨)|
|3|clear|모든 아이템/원소를 제거|
|4|pop|set에서 임의의 원소/아이템을 제거하고, 해당 원소/아이템을 반환(빈 set에 pop 수행시에 오류 발생)|
|5|remove|set에서 주어진 원소/아이템을 제거(주어진 원소/아이템이 set에 존재하지 않으면 오류 발생)|
|6|discard|set에서 주어진 원소/아이템을 제거, 만약 원소/아이템이 존재하지 않는다면 기존 set의 요소들 유지|
|7|copy|set의 모든 아이템/원소를 복사하여 새로운 set으로 반환|
|8|difference|비교 set/sets과의 차이를 새로운 set으로 반환 (자기자신을 기준으로 사용)|
|9|difference_update|비교 set/sets의 아이템/원소를 set에서 제거|
|10|intersection|주어진 set/sets과 공통된 아이템/원소를 새로운 set으로 반환(교집합)|
|11|intersection_update|주어진 set/sets과 공통된 아이템/원소로 set을 갱신|
|12|symmetric_difference|주어진 set과 공통되지 않은 원소/아이템을 새로운 set으로 반환|
|13|symmetric_difference_update|주어진 set과 공통되지 않은 원소/아이템로 set 갱신|
|14|union|주어진 set를 현재 set에 추가하여 현재 set를 갱신(합집합)|
|15|isdisjoint|주어진 set과 공통된 아이템이 없다면 'True'반환, 반대의 경우에는 'False' 반환|
|16|issubset|주어진 set이 현재 set을 포함한다면 'True 반환, 반대의 경우에는 'False' 반환|
|17|issuperset|현재 set이 주어진 set을 포함한다면 'True 반환, 반대의 경우에는 'False' 반환|

In [ ]:
#메소드: add
data_set = {1,2,3}
data_set.add(4); print(data_set)
data_set.add((5, 6)); print(data_set)
data_set.add(tuple([7, 8, 9])); print(data_set)

{1, 2, 3, 4}
{1, 2, 3, 4, (5, 6)}
{1, 2, 3, 4, (5, 6), (7, 8, 9)}

In [ ]:
#메소드: update
data_set = {1,2,3}
data_set.update([4, 5], {6,7}); print(data_set)
data_set.update([8]); print(data_set)
data_set.update((9, 10)); print(data_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#메소드: clear
data_set = {1,2,3}; print(data_set)
data_set.clear(); print(data_set)

{1, 2, 3}
set()

In [ ]:
#메소드: pop
data_set = {1,2,3}
print(data_set.pop()); print(data_set)
print(data_set.pop()); print(data_set)
print(data_set.pop()); print(data_set)
data_set = {x for x in range(100)}; print(data_set.pop()); print(data_set)

1
{2, 3}
2
{3}
3
set()
0
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [ ]:
#메소드: remove
data_set = {1,2,3}
data_set.remove(2); print(data_set)
data_set.remove(1); print(data_set)
data_set.remove(3); print(data_set)

{1, 3}
{3}
set()

In [ ]:
#메소드: discard
data_set = {1,2,3,4,5,6}
data_set.discard(2); print(data_set)
data_set.discard(7); print(data_set)

{1, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

In [ ]:
#메소드: copy
data1_set = {1,2,3}; print(data1_set)
data2_set = data1_set.copy(); print(data2_set)
data3_set = data1_set; print(data3_set)
data1_set.add(4); print(data1_set); print(data2_set); print(data3_set)

{1, 2, 3}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3, 4}

In [ ]:
#메소드: difference
data1_set = {1,2,3}; data2_set = {4,5,6}; data3_set = {1,2,3,4,5,6}
data4_set = data3_set.difference(data1_set); print(data4_set)
data5_set = data3_set.difference(data2_set); print(data5_set)
data6_set = data3_set.difference(data1_set, data2_set); print(data6_set)
data7_set = data1_set.difference(data2_set); print(data7_set)
data8_set = data1_set.difference(data3_set); print(data8_set)

{4, 5, 6}
{1, 2, 3}
set()
{1, 2, 3}
set()

In [ ]:
#메소드: difference_update
data1_set = {1,2,3}; data2_set = {4,5,6}; data3_set = {1,2,3,4,5,6}
data3_set.difference_update(data1_set); print(data3_set)
data3_set = {1,2,3,4,5,6}; data3_set.difference_update(data2_set); print(data3_set)
data3_set = {1,2,3,4,5,6}; data3_set.difference_update(data1_set, data2_set); print(data3_set)

{4, 5, 6}
{1, 2, 3}
set()

In [ ]:
#메소드: intersection
data1_set = {1,2,3}; data2_set = {4,5,6}; data3_set = {1,2,3,4,5,6};
data4_set = data1_set.intersection(data2_set); print(data4_set)
data5_set = data1_set.intersection(data3_set); print(data5_set)
data6_set = data3_set.intersection(data1_set, {1,2}); print(data6_set)

set()
{1, 2, 3}
{1, 2}

In [ ]:
#메소드: intersection_update
data1_set = {1,2,3}; data2_set = {4,5,6}; data3_set = {1,2,3,4,5,6};
data1_set.intersection_update(); print(data1_set)
data1_set = {1,2,3}; data1_set.intersection_update(data2_set); print(data1_set)
data1_set = {1,2,3}; data3_set.intersection_update(data1_set); print(data3_set)
data3_set = {1,2,3,4,5,6}; data3_set.intersection_update(data1_set, {1, 3}); print(data3_set)

{1, 2, 3}
set()
{1, 2, 3}
{1, 3}

In [ ]:
#메소드: symmetric_difference
data1_set = {1,2,3}; data2_set = {4,5,6}; data3_set = {1,2,3,4,5,6};
data4_set = data1_set.symmetric_difference(data2_set); print(data4_set)
data5_set = data1_set.symmetric_difference(data3_set); print(data5_set)
data6_set = data1_set.symmetric_difference({2,3}); print(data6_set)

{1, 2, 3, 4, 5, 6}
{4, 5, 6}
{1}

In [ ]:
#메소드: symmetric_difference_update
data1_set = {1,2,3}; data2_set = {4,5,6}; data3_set = {1,2,3,4,5,6};
data1_set.symmetric_difference_update(data2_set); print(data1_set)
data2_set.symmetric_difference_update(data3_set); print(data2_set)
data3_set.symmetric_difference_update(data1_set); print(data3_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3}
set()

In [ ]:
#메소드: union
data1_set = {1,2,3}; data2_set = {4,5,6}
data1_set = data1_set.union(data2_set); print(data1_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#메소드: isdisjoint
data1_set = {1,2,3}; data2_set = {4,5,6}; data3_set = {1,2,3,4,5,6};
print(data1_set.isdisjoint(data2_set))
print(data1_set.isdisjoint(data3_set))

True
False

In [ ]:
#메소드: issubset
data1_set = {1,2,3}; data2_set = {4,5,6}; data3_set = {1,2,3,4,5,6};
print(data1_set.issubset(data2_set))
print(data1_set.issubset(data3_set))
print(data3_set.issubset(data1_set))

False
True
False

In [ ]:
#메소드: issuperset
data1_set = {1,2,3}; data2_set = {4,5,6}; data3_set = {1,2,3,4,5,6};
print(data1_set.issuperset(data2_set))
print(data1_set.issuperset(data3_set))
print(data3_set.issuperset(data1_set))

False
False
True