<a href="https://colab.research.google.com/github/AI-comic/profile/blob/main/tuple_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple 메소드(method)

| |메소드|기능|
|:--|:---:|:--:|
|1|count|튜플 내에서 지정된 값의 개수 반환|
|2|index|튜플 내에서 지정된 값의 첫 번째 인덱스 반환(값이 존재하지 않으면 오류 발생)|

In [ ]:
#메소드: count
data_tuple = (1, 1, 2, 2, 2, 3, 3, 3, 3)
data2_tuple = data_tuple.count(2)
data3_tuple = data_tuple.count(3)
print(data2_tuple)
print(data3_tuple)

3
4

In [ ]:
#메소드: index
data_tuple = (1, 2, 3, 4, 5)
data2_tuple = data_tuple.index(3)
print(data2_tuple)

2